<% if(title){ %>
    <h1><%= title %></h1>
<%} else {
    res.redirect('/')
} %>

<%- messages() %>

<section class="form-container">
    <form class="form">
        <label for="account_email">Email: </label>
        <input type="email" class="form-field" id="account_email" name="account_email" placeholder="myemail@email.com" required><br>
        <label for="account_password">Password: </label>
        <input type="password" class="form-field" id="account_password" required placeholder="Enter your password here" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
        <span class="show-pass-btn">Show Password</span><p>Passwords must be at least 12 characters and include 
          one capital letter, one lowercase letter, one number, and one non-alphanumeric character.</p><br> <br>
        <hr> 
        <button type="submit" class="form-button" name="login">Login</button>
        <p>No account? <a href="/account/register">Sign-up</a></p>
    </form>
</section>
<script>
    // Password Show/hide
const passButton = document.querySelector(".show-pass-btn");
passButton.addEventListener("click", function () {
  const passInput = document.getElementById("account_password");
  const type = passInput.getAttribute("type");
  if (type === "password") {
    passInput.setAttribute("type", "text");
    passButton.innerHTML = "Hide Password";
  } else {
    passInput.setAttribute("type", "password");
    passButton.innerHTML = "Show Password";
  }
});
</script>