<% if(title){ %>
    <h1><%= title %></h1>
<%} else {
    res.redirect('/')
} %>

<%- messages() %>

<section class="form-container">
    <form class = "form" action="/account/register" method="post">
        <label for="account_firstname">First Name:</label>
        <input type="text" class="form-field" id="account_firstname" name="account_firstname">
        <label for="account_lastname">Last Name:</label>
        <input type="text" class="form-field" id="account_lastname" name="account_lastname">
        <label for="account_email">Email: </label>
        <input type="text" class="form-field" id="account_email" name="account_email">
        <label for="account_password">Password: </label>
        <input type="password" class="form-field" id="account_password" name="account_password">
        <span class="show-pass-btn">Show Password</span><br> <br>
        <hr> 
        <button type="submit" class="form-button" name="register">Register</button>
    </form>
</section>
<script>
    // Password Show/hide
const passButton = document.querySelector(".show-pass-btn");
passButton.addEventListener("click", function () {
  const passInput = document.getElementById("account_password");
  const type = passInput.getAttribute("type");
  if (type === "password") {
    passInput.setAttribute("type", "text");
    passButton.innerHTML = "Hide Password";
  } else {
    passInput.setAttribute("type", "password");
    passButton.innerHTML = "Show Password";
  }
});
</script>