<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div>
        <h1>Welcome to CSE Motors!</h1>
    </div>
    <section class="hero-image">
        <div class="options">
            <h3>DMC Delorean</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <img src="../public/images/vehicles/delorean.jpg">
    </section>
    <section class="upgrades">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </section>
    <section class="reviews">
        <ul>
            <li></li>
        </ul>
    </section>
</body>
</html>