<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div>
        <h1>Welcome to CSE Motors!</h1>
    </div>
    <section class="hero-image">
        <div class="options">
            <h3>DMC Delorean</h3>
            <ul>
                <li>3 cup holders</li>
                <li>Superman doors</li>
                <li>Cloth interior</li>
            </ul>
            <button>Own Today</button>
        </div>
        <img src="images/vehicles/delorean.jpg" alt = "DMC Delorean">
    </section>
    <section class="reviews">
        <h2>Reviews</h2>
        <ul>
            <li>"One in a million, this car! Buy it!" (4/5)</li>
            <li>"I wish I'd bought this 30 years ago." (5/5)</li>
            <li>"Best car since the 1950's." (4/5)</li>
            <li>"I gave up riding my horse for this!" (5/5)</li>
            <li>"Mom, look at me go!" (5/5)</li>
        </ul>
    </section>
    <section class="upgrades">
        <h2>Upgrades</h2>
        <div>
            <img src="images/upgrades/bumper_sticker.jpg" alt = "Bumper Sticker">
            <a href="">Bumper Sticker</a>
        </div>
        <div>
            <img src="images/upgrades/flame.jpg" alt="Flames">
            <a href="">Flames</a>
        </div>
        <div>
            <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <a href="">Flux Capacitor</a>
        </div>
        <div>
            <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <a href="">Hub Caps</a>
        </div>
    </section>

</body>
</html>