:root {
  --font-serif: 'Bree Serif', serif;
  --font-sans: 'Josefin Sans', sans-serif ;
  
  --off-white: #e0e1dd;
  --black: #0d1b2a;
  --dark-blue: #1b263b;
  --light-blue: #778da9;
}
/******* Change Box Model ***************/
html {
  margin: 0 auto;
  /* background-image: url('../images/site/small_check.jpg'); 
  background-size: cover; */
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--off-white);
  max-width: 80%;
  min-height: 95vh;
  margin: 0 auto;
  padding: 2%;
  border: 5px solid var(--light-blue);
  border-radius: 10px;
  font-family: var(--font-sans);
}

h2{
  display: block;
  width: 100%;
}

h1, h2, h3 {
  font-family: var(--font-serif);
}

#tip-header {
  display: block;
  max-height: 100px;
  padding: 20px;
  background-color: var(--light-blue);
  color: var(--black);
  align-items: center;
}
.sitename {
  font-size: 1.5em;
}

#tools {
  font-size: 1em;
  margin-top: 15px;
  float: right;
}

nav {
  display: flex;
  height: 4%;
  padding: 0;
  flex-direction: row;
  background-color: var(--black);
  color: var(--off-white);
  align-items: center;
  justify-content: center;
  li {
    font-size: 1em;
    list-style-type: none;
    display: inline;
    margin: 2px;
  };
}

.hero-image {
  position: relative;
  display: block;
  img {
    position: relative;
    width: 100%;
    height:auto;
  }
}

.options {
  position: absolute;
  float: left;
  background-color: rgb(119 141 169 / 50%);
  border-radius: 10px;
  /* padding: 5px; */
  z-index: 1;
  li {
    list-style-type: none;
    /* margin: 2px; */
  }
  button {
    display: block;
    margin: 5px 5px 5px 15px;  
    padding: 5px;
  }
}

.upgrades {
  padding:20px;
  position: relative;
  float: left;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width: 90%;
  row-gap: 20px;
  div {
    width: 45%;
    display: flex; 
    flex-direction:column;
    justify-content: space-around;
    img {
      border: 1px solid var(--black);
      background-color:var(--light-blue);
      padding: 20px; 
      max-width:fit-content;
    }
    a {
      text-align: center;
    }
  }

}

.reviews {
  padding: 20px;
  display: block;
  float: right;
  width: 90%;
  li {
    padding: 10px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  width: 100%;
  height: 20px;
}

/* Media Query- Large screens */
@media only screen and (min-width: 700px){

  html {
    background-image: url('../images/site/small_check.jpg'); 
    background-size: cover;
  }
  .sitename {
    font-size: 2.5em;
  }

  nav {
    height: 60px;
    align-items: center;
    justify-content: center;
    li {
      font-size: 1.2em;
      margin: 100px;
    };
  }

  .hero-image{
    img {
    width: 80%;
    margin-left: 5%;
    }
  }

  .options {
    margin: 7%;
    padding: 10px;
    li {
      margin: 5px;
    }
    button {
      margin: 10px 10px 10px 30px;  
      padding: 10px;
    }
  }

  .reviews{
    width: 45%;
  }

  .upgrades {
    width: 45%;
    div {
      img {
        max-width: 100px;
        height: 100px;
      }
      a {
        margin: 5%;
        text-align:justify;
      }
    }
  }
}