<% if(title){ %>
    <h1><%= title %></h1>
<%} else {
    res.redirect('/')
} %>

<%- messages() %>

<section class="form-container">
    <form class="form" action="/inv/add-classification" method ="post">
        <label for="classification_name">New Classification Name:</label>
        <input type="text" class="form-field" id="classification_name" required placeholder="Sedan">
        <p>(Cannot contain any spaces, numbers, or special characters.)</p><br>
        <button type="submit" class="form-button" name="add-class">Add</button>
    </form>
</section>