<% if(title){ %> <h1><%= title %></h1> <%} else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %> <ul class="message warning"> <% errors.array().forEach(error => { %> <li><%= error.msg %></li> <% }) %> </ul> <% } %>


<section class="form-container">
    <form class="form" action="/inv/add-classification" method ="post">
        <label for="classification_name">New Classification Name:</label>
        <input type="text" class="form-field" id="classification_name" name = "classification_name" required placeholder="Sedan" value="<%= locals.classification_name %>">
        <p>(Cannot contain any spaces, numbers, or special characters.)</p><br>
        <input type="submit" class="form-button"></input>
    </form>
</section>